body {
    overflow-x: hidden;
}

nav {
    height: 70px;
    width: 100%;
    background-color: #f8f9fa;
}

nav #magnifing-glass {
    top: 25%;
    left: 0;
    padding-left: 10px;
}

nav input {
    padding-left: 30px;
    background-color: #e5e5e5;
    border: none;
    border-radius: 6px;
}

nav #logo {
    max-width: 200px;
}


nav ul li {
    list-style-type: none;
}




._main-part {
    height: calc(100vh - 70px);
    width: 100%;
    background-color: #f3f69a;
}

aside {
    height: calc(100vh - 70px);
    width: 150px;
    background-image: -webkit-linear-gradient(40deg, #0e263b 75%, #051e34 25%);
}


header {
    width: calc(100vw - 150px);
    height: 125px;
    background-color: #1b72e8;
}

header a {
    text-decoration: none;
    border-radius: 20px;
    background-color: #165bba;
    padding: 2px 5px;
}

main {
    height: 100%;
    width: calc(100vw - 150px);
    background-color: #fff;
}

main .logo_class {
    width: 1.5em;
    height: 1.5em;
}

